<%= link_to "ホームに戻る", root_path, class: "btn-home" %>

<h1>予約一覧</h1>

<% if @reservations.any? %>
  <table>
    <thead>
      <tr>
        <th>ホテル画像</th>
        <th>ホテル名</th>
        <th>チェックイン</th>
        <th>チェックアウト</th>
        <th>作成日</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |booking| %>
        <tr>
            <td class="id-with-thumb">
                <%= image_tag "hotel_image.jpg",
                        alt: booking.property.title,
                        class: "thumb-img" %>
            </td>
            <td><%= booking.property.title %></td>
          <!-- チェックイン -->
          <td>
            <%= booking.check_in
                .in_time_zone
                .strftime("%Y年%-m月%-d日") %>
          </td>

          <!-- チェックアウト日 -->
          <td>
            <%= booking.check_out
                .in_time_zone
                .strftime("%Y年%-m月%-d日") %>
          </td>

          <!-- 作成日 -->
          <td><%= booking.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td class="action-cell">
            <%= button_to "キャンセル",
                booking_path(booking),
                method: :delete,
                data: { turbo_confirm: "本当にこの予約をキャンセルしますか？" },
                class: "btn-delete" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>現在、予約はありません。</p>
<% end %>
